<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <!--<services>
            <service name="EraDeiFessi.Webservice.EDFServices">
                <endpoint address="" binding="basicHttpBinding" contract="EraDeiFessi.Webservice.IEDFServices">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:60420/EDFServices/" />
                    </baseAddresses>
                </host>
            </service>
        </services>-->
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
