<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="LoginForm.aspx" name=".ASPXFORMSAUTH" cookieless="UseCookies" slidingExpiration="true" timeout="86400">
      </forms>
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <customErrors mode="Off"/>

    <machineKey validationKey="4AA82EBC1FF1C72F513E6C8E5E2198B3E1AFED5DC503FB3BA738EA266AE2639C440CA0D2D4FF3D7279ED9427B6D5EE782C4043E1A24750CC17547D9458B1C1DB" decryptionKey="CF3F648824E8ED02ECE44B3344DE9EC9EE9875AFEB4E7AF21F39621DA83014A0" validation="SHA1" decryption="AES" />
  </system.web>

  <location path="TelegramHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
